/* --------------------- Open Props --------------------------- */

/* the props */
@import "https://unpkg.com/open-props";

/* optional imports that use the props */
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";

/* ------------------------------------------------------------ */

body {
  font-family: sans-serif;
  text-align: center;
  background-color: black;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.site-header{
  display: flex;
  justify-content: center;
  align-items: start;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
}

.navigation-buttons {
  width:100%;
  margin:0;
  background-color: aliceblue;
}
.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  
  list-style: none;
  margin: 0; 
  background: deepskyblue;
}
.navigation a:link{
  color: black;
}
.navigation a:visited{
  color:black;
}
.navigation a:hover {
  background: #0a3463;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
}

p,
button {
  margin: var(--size-6);
}

body > picture,
button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin: 2rem;
}
